<div class="jumbotron text-center">
        <div class="content">
            <div class="event-date">{{.Site.Data.conference.location}}, {{.Site.Data.conference.date}}</div>
            <h1>{{.Site.Data.conference.full_title}}</h1>
            {{range .Site.Data.conference.descriptions}}
                <p class="lead">{{.}}</p>
            {{end}}
            <button type="button" class="btn btn-default btn-lg btn-scale"><a href="{{.Site.Data.conference.submission_page}}">{{.Site.Data.conference.highlight}}</a></button>
        </div>
    </div>