
    <section id="section-contact" class="section-wrapper gray-bg section-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <p>If you have any problems or questions, please contact us via e-mail at: </p>
                        <a href="mailto:{{ .Site.Data.conference.contact.email }}">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> 
                            {{ .Site.Data.conference.email }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


