<section id="section-venue" class="section-wrapper gray-bg section-venue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Venue</h1>

                    <address>
                        <strong>Hyatt Regency Bellevue on Seattle's Eastside</strong><br>
                        900 Bellevue Way NE<br>
                        Bellevue, Washington, USA, 98004-427<br>
                        TEL: +1 (425) 462-1234, FAX: +1 (425) 646-7567
                    </address>
                </div>
            </div>
        </div>
        <!-- /.row-->

        <div class="row">
            <div class="col-md-12">
                <div id="googleMap"></div>
            </div>
        </div>
        <!-- .row-->



    </div>
</section>
