<section id="section-cfp" class="section-wrapper section-cfp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">
                    HotWoT is a forum that brings together researchers and practitioners interested in the design, implementation, and evaluation of Web of things (WoT) systems and applications. 
                </p>
                <p class="lead">Sponsored by the ACM, the IEEE Computer Society, the workshop seeks to act as a conduit for the presentation of novel approaches used in support of performance, scalability, and security of WoT systems and applications, including technologies to enable seamless integration of physical things,  Web of things searching/indexing/discovery, content distribution and delivery networks, Web of Things services, online social/physical networks, mobile Web, and edge computing. In particular, we aim to bring together researchers and practitioners from academia and industry working on Web of Things to discuss new ideas in this emerging area. </p>
            </div>
            <div class="col-md-6">
                <p class="lead">
                    HotWoT 2018 welcomes contributions in all areas of infrastructure, protocols, applications, security, and user interactions related to the Web of Things.
                </p>
                <p class="lead">Particular areas of interest include, but are not limited to:</p>

                <ul style="padding:25px;list-style:square;">
                    <li>Web discovery, indexing, search</li>
                    <li>Integration of things based on web technologies</li>
                    <li>Novel applications </li>
                    <li>Deployment experience</li>
                    <li>Architecture design</li>
                    <li>Protocols</li>
                    <li>Security and Privacy</li>
                    <li>Cloud and edge support of WoT</li>
                    <li>Real time communication with physical things</li>
                </ul>
   
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Papers describing timely research contributions in HotWoT’s areas of interest are solicited. Papers reporting on initial results as well as papers discussing mature research projects or case studies of deployed systems are sought out. Submissions describing big ideas that may have significant impact and could lead to interesting discussions at the workshop are encouraged.</p>   
                <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal. Only electronic submissions in PDF will be accepted. Submitted papers must be written in English, must be no longer than 6 pages (minimum 10pt font), must render without error using standard PDF viewing tools, must print on US-Letter-sized paper, and must conform to the <a href="https://www.acm.org/publications/proceedings-template"><i class="fa fa-external-link fa-fw" aria-hidden="true"></i> standard ACM Template</a>.</p>
                <p>At least one of the authors of each paper accepted for presentation in HotWoT 2018 must register for the workshop. All papers presented at the workshop will be included in the ACM Digital Library.</p>
                <p> <b>Submission page</b>: <a href="{{.Site.Data.conference.submission_page}}"><i class="fa fa-external-link fa-fw" aria-hidden="true"></i> {{.Site.Data.conference.submission_page}}</a></p>
            </div>
        </div>
    </div>
</section>